body,
html {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.bg {
    /* The image used */
    background-image: url("./images/background.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.options {
    display: flex;
    justify-content: space-evenly;
}

label.form-check-label {
    color: white;
}

.meal-type,
.categories,
.allergies {
    background-color: #67582b;
    padding: 1em 5em;
    margin-top: 20%;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.form-check {
    padding-left: 2em !important;
}

.btn {
    padding: .5rem 3rem !important;
}

.btn-dark {
    background-color: #582020 !important;
    border-color: #582020 !important;
}

.buttonClass {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.foodcards {
    display: flex;
    justify-content: center;
}

.foodcards {
    padding-top: 7em;
    /* padding-bottom: 15em; */
    background-color: rgba(140, 84, 84, 0.926);
    height: inherit;
}

.logo {
    display: flex;
    /* margin-top: 1em;
    margin-left: 1em; */
}

.logotitle,
.logoimage {
    margin-top: 1em;
}

.logotitle {
    margin-top: 2.3em !important;
}

.logoimage {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.secondsection {
    background-color: rgba(245,245,245);
    display: flex;
    justify-content: center;
}

.hideelement {
    display: none !important;
}

#div1,
#div2,
#div3 {
    z-index: 0;
    position: absolute;
    overflow: hidden !important;
    height: 48em !important;
}

.slideRight {
    transition: transform 1s ease;    
    transform: translateX(100%)
}

.originalPos {
    transition: transform 1s ease;    
    transform: translateX(0%)
}

#loading {
    position: absolute;
    background-color: rgba(245,245,245);
    height: 100%;
    width: 100%;
    z-index: 1;
}

#loading header, #loading footer {
    background-color: rgb(209, 143, 143);
    height: 3em;
}


#loading-image {
    display: block;
    margin: 14.3em auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.backNextClass {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1.5em 1em 0;
    height: 6em;
    width: 100%;
}

.backNextClass button {
    height: 3em;
}

.side-label {
    text-align: center;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(209, 143, 143);
    height: 48em;
}

.card {
    margin-top: 1em!;
    border: 3px;
    border-radius: 1rem !important;
}

.card-body {
    text-align: center;
    padding: 35% 10% !important;
}

/* Meal Elements */
.meal.foodcards {
    padding: 3em 0 0 0 !important;
}

.meal.card {
    margin-left: 1em;
    margin-right: 1em;
    height: 39rem;
    width: 25rem;
}

/* Preference Elements */
.pref.foodcards {
    padding: 3em 0 0;
    flex-direction: column;
    height: 48em;
}

.pref.meat.card {
    margin-left: 1em;
    margin-right: 1em;
    height: 15rem;
    width: 15rem;
}

.pref.other.card {
    flex: 0 0 auto !important;
    margin-left: 1em;
    margin-right: 1em;
    height: 25rem;
    width: 20rem;
}

/* Allergy Elements */
.alg.foodcards {
    padding: 3em 0 0;
    flex-direction: column;
}

.alg.card {
    margin: 1em !important;
    height: 15rem;
    width: 15rem;
}

.overflow-wrap {
    flex-wrap: nowrap;
    overflow-y: auto;
    margin-bottom: 0.75em;
    padding: 0;
    height: 85%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.imageContainer {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 1em;            
    margin: 0 auto 4em;
    border: 2px solid black;
    border-radius: 0.5em;
    height: fit-content;
    max-height: 35em;
    width: 450px !important
}

#map {
    border: 1px solid black;
    border-radius: 1em;
}

.mapclass {
    display: flex;
    padding: 2em;
}

.mapinfo {
    width: fit-content;
}
.foodinfo {
    display: flex;
    justify-content: space-around;
    padding: 3em;
}
.foodinfo div {
    margin: 1em;
}

#foodhistory {
    height: 25em;
    max-width: fit-content;
    overflow-y: auto;
}
